
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

<form>
    <input type="text" placeholder="Username" /> <br />
    <input type="password" placeholder="Password" /> <br />
</form>

<a href="/Home/LoginSubmit" class="btn btn-primary">Login</a>

